/* IcoMoon: http://keyamoon.com/icomoon/app/ */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.svg#icomoon') format('svg'),
       url('../fonts/icomoon.woff') format('woff'),
       url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* HTML for Icon Font Usage: http://css-tricks.com/html-for-icon-font-usage/ */
[data-icon]:before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.text-to-speech {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
