@charset "utf-8";

// http://necolas.github.io/normalize.css/
@import "normalize";

// http://simonwhitaker.github.io/github-fork-ribbon-css/
@import "gh-fork-ribbon";

@media print {
  .github-fork-ribbon {
    display: none;
  }
}

// http://keyamoon.com/icomoon/app/
@import "icons";


// DIMENSIONS
// -------------------------------------------
$container-width: 700px;

// FONTS
// -------------------------------------------
$font-base: 'Open Sans', sans-serif;
$font-headlines: 'Droid Serif', serif;
$font-mono: Courier, 'Courier New', monospace;

// MIXINS
// -------------------------------------------
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


/* BASE
---------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #000;
  font-family: $font-base;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.75em;
}
a {
  background-color: transparent;
  color: #1377c2;

  &:visited { color: #1377c2; }
  &:hover { color: #900; }
}
img {
  max-width: 100%;
}


/* HEADER
---------------------------------------------- */
header[role="banner"] {
  border-top: 20px solid #1377c2;

  &>h1,
  &>section {
    width: 90%;
    max-width: $container-width;
    margin: 0 auto;
  }
  a {
    color: #000;
    text-decoration: none;
  }

  .title a {
    display: block;
    padding-top: 110px;
    background-image: url(images/avatar.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 75px;
    font-family: $font-headlines;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.4em;
    text-align: center;

    @media screen and (min-width: 600px) {
      padding-top: 135px;
      background-size: 100px;
      font-size: 24px;
      font-size: 2.4rem;
    }
  }
  .elsewhere {
    margin-bottom: 20px;
    border-bottom: 3px solid #ddd;
    padding: 15px 0;
    font-size: 45px;
    font-size: 4.5rem;
    line-height: 1.25em;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li, a {
      display: inline-block;
    }

    .www a { color: #047; }
    .twitter a { color: #00aced; }
    .github a { color: #4183c4; }
    .email a { color: #333; }

    @media screen and (min-width: 600px) {
      li {
        margin: 0 10px;
      }
    }
  }
}
.ie8 {
  header[role="banner"] {
    .title a {
      padding-top: 135px;
      background-image: url(images/avatar.png);
    }
  }
}


/* FORK ME ON GITHUB
---------------------------------------------- */
.github-fork-ribbon a {
  color: #fff !important;
}


/* CONTENT
---------------------------------------------- */
section[role="main"] {
  &>header,
  &>article,
  &>footer {
    width: 90%;
    max-width: $container-width;
    margin: 0 auto;
  }
  &>header {
    h2 {
      margin: 0 0 25px;
      font-family: $font-headlines;
      font-size: 21px;
      font-size: 2.1rem;
      font-weight: normal;
      line-height: 1.3em;
    }
  }
  &>article {
    h3 {
      margin: 25px 0 5px 0;
      border-top: 2px solid #aaa;
      padding-top: 15px;
      font-family: $font-headlines;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 1.35em;
    }
    p {
      margin: 10px 0;
    }
    strong {
      color: lighten(#000, 15%);
    }
    ul {
      margin: 0;
      padding-left: 25px;
      list-style-type: circle;
    }
    p>code {
      font-family: $font-mono;
      font-weight: bold;
    }
    pre>code {
      display: block;
      margin-top: -5px;
      border: 1px solid #ddd;
      padding: 10px 15px 8px;
      background-color: #eee;
      color: #000;
      font-family: $font-mono;
      font-size: 85%;
      line-height: 1.4em;
      @include border-radius(4px);
    }
    blockquote {
      margin: 0 0 25px;
      font-size: 90%;

      &>p {
        border: 2px solid darken(#e1e5e8, 15%);
        padding: 10px 20px;
        background-color: #e1e5e8;
        @include border-radius(4px);

        a {
          color: #000;
        }
        input {
          max-width: 100%;
          padding: 5px 0 2px 5px;
          border: 1px solid #bbb;
          @include border-radius(4px);
        }
      }
    }
  }
  &>footer {
    p {
      margin: 25px 0 0;

      a {
        display: inline-block;
        border: 1px solid #999;
        padding: 10px;
        color: #333;
        font-size: smaller;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.5em;
        @include border-radius(3px);

        &:hover {
          border: 1px solid #333;
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}


/* FOOTER
---------------------------------------------- */
footer[role="contentinfo"] {
  padding: 20px 0 40px;
  color: #888;
  font-family: $font-headlines;
  font-size: 0.9em;
  line-height: 1.5em;

  p {
    width: 90%;
    max-width: $container-width;
    margin: 0 auto;
  }
  a { color: #888; }
}


/* PAGES
---------------------------------------------- */
/* Home */
#index {
  section[role="main"]>article {
    h3 {
      border-top: none;
      padding-top: 0;
    }
    ul ul {
      margin-bottom: 10px;
    }
    hr {
      margin: 20px 0;
      border: 1px solid #ccc;
    }
  }
}


/* PRINT
---------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-decoration: none !important;
  }
  header[role="banner"] {
    border-top: none;

    .title a {
      padding-top: 0;
      background-image: none;
      font-size: 28px;
      font-size: 2.8rem;
      text-align: left;
    }
    .elsewhere {
      display: none;
    }
  }
  section[role="main"] {
    &>header {
      margin-top: 25px;
    }
    &>article {
      pre {
        margin-top: 0;
        padding: 0;
      }
      blockquote {
        display: none;
      }
    }
    &>footer {
      display: none;
    }
  }
}
