<% unless %w(index started-cli started-folders error).include?(page_id) %>
  <div class="main__before">
    <p>
      <strong>Before starting:</strong>
      Make sure you have the necessary folders and permissions —
      <a href="/started-folders/">get more information</a>.
    </p>
  </div>
<% end %>
