<ul class="external">
  <li class="external__item external__item--www" title="Website">
    <a class="external__link" href="https://patrickbougie.com/">
      patrickbougie.com
    </a>
  </li>
  <li class="external__item external__item--twitter" title="Twitter">
    <a class="external__link" href="https://twitter.com/pbougie">
      twitter.com/pbougie
    </a>
  </li>
  <li class="external__item external__item--github" title="GitHub">
    <a class="external__link" href="https://github.com/pbougie/mac-dev-env">
      github.com/pbougie/mac-dev-env
    </a>
  </li>
  <li class="external__item external__item--email" title="Email">
    <a class="external__link" href="mailto:hello@patrickbougie.com">
      hello@patrickbougie.com
    </a>
  </li>
</ul>
