<footer class="footer" role="contentinfo">
  <p>
    © <%= Time.now.strftime('%Y') %> <a href="http://patrickbougie.com">Patrick Bougie</a>. All rights reserved.<br>
    Please do not reproduce without written consent.<br>
    macOS version: 10.13 High Sierra<br>
    Last revised: <%= Time.now.strftime('%-d %B %Y') %><br>
    Needs updating? <a href="https://github.com/pbougie/mac-dev-env">Fork on GitHub</a>
  </p>
</footer>
