<footer class="footer" role="contentinfo">
  © <%= Time.now.strftime('%Y') %> <a href="https://patrickbougie.com/">Patrick Bougie</a>. All rights reserved.<br>
  Please do not reproduce without written consent.<br>
  macOS version: 10.14 Mojave<br>
  Last revised: <%= Time.now.strftime('%-d %B %Y') %><br>
  Needs updating? <a href="https://github.com/pbougie/mac-dev-env">Fork on GitHub</a>
</footer>
