<header role="banner">
  <h1 class="title">
    <a href="/">
      Compiling a Web Development Environment on Mac OS X
    </a>
  </h1>
  <section class="elsewhere">
    <ul>
      <li class="www" title="Website">
        <a href="http://patrickbougie.com/">
          <span aria-hidden="true" data-icon="&#xe000;"></span>
          <span class="text-to-speech">patrickbougie.com</span>
        </a>
      </li>
      <li class="twitter" title="Twitter">
        <a href="https://twitter.com/pbougie">
          <span aria-hidden="true" data-icon="&#xe001;"></span>
          <span class="text-to-speech">@pbougie</span>
        </a>
      </li>
      <li class="github" title="GitHub">
        <a href="https://github.com/pbougie/mac-dev-env">
          <span aria-hidden="true" data-icon="&#xe002;"></span>
          <span class="text-to-speech">github.com/pbougie</span>
        </a>
      </li>
      <li class="email" title="Email">
        <a href="mailto:hello@patrickbougie.com">
          <span aria-hidden="true" data-icon="&#xe003;"></span>
          <span class="text-to-speech">hello@patrickbougie.com</span>
        </a>
      </li>
    </ul>
  </section>
  <% if @message %>
    <section class="message">
      <%=
        html = Kramdown::Document.new(@message).to_html
        html = Regexp.new('^<p>(.*)<\/p>$').match(html)[1]
        html
      %>
    </section>
  <% end %>
</header>
