<header class="header" role="banner">
  <a class="header__link" href="/">
    <img class="header__image" src="/images/macos.svg" alt="macOS" width="100" height="100" />
    <h1 class="header__title">
      <%= site_title %>
    </h1>
  </a>
</header>
