<header role="banner">
  <div>
    <h1>
      <a href="/" title="Patrick Bougie">Patrick Bougie</a>
    </h1>
    <section class="elsewhere">
      <ul>
        <li class="www" title="patrickbougie.com">
          <a href="http://patrickbougie.com/">patrickbougie.com</a>
        </li>
        <li class="twitter" title="twitter.com/pbougie">
          <a href="https://twitter.com/pbougie">@pbougie</a>
        </li>
        <li class="github" title="github.com/pbougie">
          <a href="https://github.com/pbougie">pbougie</a>
        </li>
      </ul>
    </section>
  </div>
</header>
