<% wrap_layout :layout do %>
  <header class="main__header">
    <h2>
      <%= current_resource.data.title %>
    </h2>
    <% unless %w(started-cli started-folders error).include?(page_id) %>
      <%= partial "layouts/before_starting" %>
    <% end %>
  </header>

  <article class="main__article" id="article">
    <%= yield %>
  </article>

  <footer class="main__footer">
    <p>
      <a href="/">â† Return to the Table of Contents</a>
    </p>
  </footer>
<% end %>
