/* https://fonts.bunny.net/family/merriweather */
@import url(https://fonts.bunny.net/css?family=merriweather:400);

$font-default: -apple-system, system-ui, Arial, sans-serif
$font-headings: 'Merriweather', serif
$font-mono: Courier, 'Courier New', monospace
