<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>

	<meta name="author" content="Patrick Bougie">
	<meta name="description" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}">
	<meta name="viewport" content="initial-scale=1.0">

	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57x57.png">

	<!--[if gte IE 7]><!-->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:regular,bold">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<!--<![endif]-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/ios-fix.js"></script>
  <script src="js/dynamic-versioning.js"></script>

</head>
<body id="{{ page.url | split:'/' | last | split:'.' | first }}">

	{% include header.html %}

	<section role="main">
		<header>
			<hgroup>
				<h1>{{ site.title }}</h1>
				{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
			</hgroup>
		</header>
		<article>
			{{ content }}
		</article>
		{% if page.title %}
			<footer>
				<p>
					<a href="index.html">« Return to the Table of Contents</a>
				</p>
			</footer>
		{% endif %}
	</section>

	{% include footer.html %}

</body>
</html>
