ErrorDocument 403 /error/index.html
ErrorDocument 404 /error/index.html

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE text/xml application/xml
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^lib-freetype/?$ /freetype/ [R=permanent,L]
  RewriteRule ^lib-jpeg/?$ /libjpeg/ [R=permanent,L]
  RewriteRule ^lib-mcrypt/?$ /libmcrypt/ [R=permanent,L]
  RewriteRule ^lib-png/?$ /libpng/ [R=permanent,L]
  RewriteRule ^lib-tiff/?$ /libtiff/ [R=permanent,L]

  RewriteRule ^node/?$ /nodejs/ [R=permanent,L]
  RewriteRule ^node-bower/?$ /nodejs-bower/ [R=permanent,L]
  RewriteRule ^node-grunt/?$ /nodejs-grunt/ [R=permanent,L]

  RewriteRule ^ruby-([0-9]+)/?$ /ruby/ [R=permanent,L]
</IfModule>
