.footer
  padding: 20px 0 40px
  color: #888
  font-family: $font-headlines
  font-size: 0.9em
  line-height: 1.5em

  p
    width: 90%
    max-width: $container-width
    margin: 0 auto
  a
    color: #888
