.header
  border-top: 20px solid #1377c2
  @media print
    border-top: none

  &__title,
  &__external,
  &__message
    width: 90%
    max-width: $container-width
    margin: 0 auto

  &__title
    a
      display: block
      padding-top: 110px
      background-image: url(../images/avatar.svg)
      background-repeat: no-repeat
      background-position: center 20px
      background-size: 75px
      color: black
      font-family: $font-headlines
      font-size: 18px
      font-size: 1.8rem
      font-weight: normal
      line-height: 1.4em
      text-align: center
      text-decoration: none
      @media screen and (min-width: 600px)
        padding-top: 135px
        background-size: 100px
        font-size: 24px
        font-size: 2.4rem
      @media print
        padding-top: 0
        background-image: none
        font-size: 28px
        font-size: 2.8rem
        text-align: left

  &__external
    margin-bottom: 25px
    border-bottom: 3px solid #ddd
    padding: 15px 0 10px
    @media print
      display: none

    &__items
      margin: 0
      padding: 0
      text-align: center
    &__item
      display: inline-block
      @media screen and (min-width: 600px)
        margin: 0 0.5rem
    &__link
      display: inline-block
      width: 5rem
      height: 5rem
      background-position: center center
      background-repeat: no-repeat
      background-size: 5rem
      overflow: hidden
      text-indent: 100%
      white-space: nowrap
      @media screen and (min-width: 450px)
        width: 6rem
        height: 6rem
        background-size: 6rem
      @media screen and (min-width: 600px)
        width: 7rem
        height: 7rem
        background-size: 7rem
      &.www
        background-image: url(/images/external/www.png)
        background-image: url(/images/external/www.svg), linear-gradient(transparent, transparent)
      &.twitter
        background-image: url(/images/external/twitter.png)
        background-image: url(/images/external/twitter.svg), linear-gradient(transparent, transparent)
      &.github
        background-image: url(/images/external/github.png)
        background-image: url(/images/external/github.svg), linear-gradient(transparent, transparent)
      &.email
        background-image: url(/images/external/email.png)
        background-image: url(/images/external/email.svg), linear-gradient(transparent, transparent)

  &__message
    margin-bottom: 15px
    border-radius: 3px
    padding: 10px 20px
    background-color: #1377c2
    color: white
    text-align: center
    @media print
      margin-top: 15px
      padding: 10px 0
      text-align: left
